<div class="container">

  <div class="carta carta-paus">
    <div class="naipe">
      <span>♣</span>
    </div>
    <div class="valor">
      A
    </div>
  </div>

  <div class="carta carta-espadas">
    <div class="naipe">
      <span>♠</span>
    </div>
    <div class="valor">
      K
    </div>
  </div>

  <div class="carta carta-ouros">
    <div class="naipe">
      <span>♦</span>
    </div>
    <div class="valor">
      7
    </div>
  </div>

  <div class="carta carta-copas">
    <div class="naipe">
      <span>♥</span>
    </div>
    <div class="valor">
      K
    </div>
  </div>

</div>
